html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: lightskyblue;
}
main {
  min-height: 80vh;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 90vw;
}

input {
  padding: 1.5rem;
  width: 100%;
  border-radius: 5rem;
  border: 1px solid black;
  background-color: #eee;
  outline: none;
}

ul {
  width: 90vw;
  padding: 0 3rem;
}

li {
  padding: 1.6rem;
  margin-bottom: 2rem;
  background-color: rgb(248, 233, 97);
  border-radius: 5rem;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  display: flex;
  transition: all 0.3s ease-in-out;
}
i {
  margin-right: 1rem;
}

.trash {
  color: red;
  margin-left: auto;
}
.completed {
  color: grey;
  text-decoration: line-through;
}
.remove {
  display: none;
}
footer {
  height: 5vh;
  background-color: #000;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
